* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #07060d;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

#logo-team-cherry img {
    height: 50px;
    max-width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: black;
    padding: 6px 15px;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 60px;
    margin: 0 auto;
    list-style: none;
}

.menu li {
    display: inline;
}

.menu a {
    color: white;
    font-size: 16px;
    padding: 10px;
}

#circulo-team {
    border: 1px solid white;
    border-radius: 30px;
    padding: 5px 15px;
}





#jogo {
    background-image: url("../imgs/fundoJogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

#titulo-hksilkong {
    font-size: 1em;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#hksilkong img {
    max-width: 100%; 
    height: auto;
}





#hornet {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 100%;
}

#hornet img {
    max-width: 100%; 
    height: auto; 
}





#plataformas-titulo {
    color: #ffffff;
    text-align: center;
    margin: 200px 0 150px;
    font-size: 32px;
    font-weight: bold;
}

#plataformas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    padding: 20px;
    justify-items: center; 
    padding-bottom: 300px;
}

#plataformas-grid img {
    max-width: 100%;  
    height: auto;
    max-height: 100px;
    object-fit: contain; 
    transition: transform 0.3s ease;
}

#plataformas-grid img:hover {
    transform: scale(1.1);
}





#historia-titulo {
    font-size: 3em;
    color: white;
    padding: 10px 20px;
    text-align: center;
    padding-bottom: 30px;
}

#grid-historia {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    padding: 20px;
}

.texto img, .imagem img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}





#screenshots {
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    display: grid; 
    margin-bottom: 80px;
}

.screenshot {
    display: none; 
}

.screenshot.ativa {
    display: block; 
}

#screenshots img {
    width: 100%; 
    cursor: pointer; 
    transition: transform 0.4s ease;
}

#screenshots img:hover{
    transform: scale(1.1);
}




#footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
    color: #ffffff;
}

#footer h3{
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

#footer h4 {
    font-size: 1em;
    margin-bottom: 10px;
    color: #ffffffc0;
    font-weight: 500;
}

#footer h5 {
    font-size: 12px;
    color: #8888887a;
    margin-top: 20px;
    text-align: left;
}

#teamEcontato, #enderecoEsocial {
    display: grid;
}

#logo2-team-cherry {
    display: grid;
    justify-items: end; 
    align-items: end; 
}

#logo2-team-cherry img {
    width: 100px;
    height: auto;
}

@media (max-width: 940px) {
    #footer {
        grid-template-columns: repeat(2, 1fr);
    }
    #logo2-team-cherry {
        justify-content: center;
        align-items: center;
        grid-column: 1 / -1;
    }
}

@media (max-width: 390px){
    #teamEcontato, #enderecoEsocial {
        text-align: center; 
        grid-column: 1 / -1; 
    }
}




.menu-icon{
        pointer-events: none;
    }

@media (max-width: 940px) {

    .menu-icon {
         cursor: pointer;
         pointer-events: auto;
    }

    .menu {
        display: none;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        text-align: center;
        gap: 20px;
    }
    
    .menu.show {
            display: flex;
    }

    #navbar {
        flex-direction: column; 
        padding: 10px;
    }
}